garage-xml/src/main/resources/location_liste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="location">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="adress" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="locations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="numberOfLocation" type="xs:int"/>
        </xs:complexType>
    </xs:element>

</xs:schema>